<div class="row">
  <div class="col">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-3">
          <label>Cover</label>
          <img width="100%" src="{{this.book?'data:image/jpg;base64,' + this.book.cover:''}}"/>

        </div>
        <div class="col-md-9">
          <div class="row">
            <label for="bookId">Id</label>
            <input
              type="text"
              id="bookId"
              formControlName="bookId"
              class="form-control">
          </div>
          <div class="row">
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control">
          </div>
          <div class="row">
            <label for="isbn">ISBN</label>
            <input
              type="text"
              id="isbn"
              formControlName="isbn"
              class="form-control">
          </div>
          <div class="row">
            <label for="publishDate">Publish Date</label>
            <input
              type="text"
              id="publishDate"
              formControlName="publishDate"
              class="form-control">
          </div>
          <!--          <div class="row">-->
          <!--              <label for="publisherId">Publisher Id</label>-->
          <!--              <input-->
          <!--                type="text"-->
          <!--                id="publisherId"-->
          <!--                formControlName="publisherId"-->
          <!--                class="form-control">-->
          <!--          </div>-->
          <div class="row">
            <label for="synopsis">Synopsis</label>
            <textarea
              type="text"
              id="synopsis"
              class="form-control"
              formControlName="synopsis"
              rows="3"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    TODO: List of Authors
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    TODO: List of Genres
  </div>
</div>
